
<div class="modal fade" id="modal-<%= model.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-<%= model.id %>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= model.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <% if model.images.first %>
            <img src="<%= url_for(model.images.first.variant(resize_to_limit: [1200, 1000], auto_orient: true).processed) %>" class="img-thumbnail mr-3 float-right" alt="...">
            <% else %>
                <img src="https://via.placeholder.com/400x300" class="mr-3 float-right" alt="...">
            <% end %>          
        </div>              
        </div>
    </div>
</div>
