<div class="row">
    <div class="col-lg-12">
        <h1>StuffApp</h1>

        <hr/>

        <p class="lead">
            Viele Dinge sind im Haushalt verstreut. 
        </p>
        <p class="lead">
            Selten genutzte Dinge sind manchmal schwer zu finden. 
        </p>
        <p class="lead">            
            Bei entlichen Dingen vergisst man ganz, dass man sie hat.  
        </p>
        <p class="lead">            
            Beim Ausmisten stellt sich die Frage: Wo anfangen? Was soll ich behalten, was kann weg? Und was weg kann: Verkaufen, verschenken oder entsorgen?
        </p>

        <p class="lead">
            StuffApp hilft dir einen besseren <b>Überblick</b> über deine Dinge zu erhalten und unterstützt dich
            beim Finden, Ausmisten, etc. 
        </p>
    </div>
</div>        
        
<div class="row">
    <div class="col-lg-6  mt-3">        
        <h4>Was kannst du in StuffApp machen?</h4>

        <ol class="lead">
            <li>
                Erstelle <b>Räume</b> mit <b>Ablagen</b>, in denen alle möglichen <b>Dinge</b> aufbewahrst.
            </li>
            <li>
                Füge <b>Bilder</b> zu deinen Räumen, Ablagen und Dingen hinzu, damit du siehst, worum es sich handelt und was in deinen Räumen und Ablagen enthalten ist.
            </li>
            <li>
                Nutze die <b>Suche</b>, um Dinge in Räumen und Ablagen schneller zu finden. 
            </li>
        </ol>

    </div>
</div>        
        
<div class="row">
    <div class="col-lg-12 mt-3">             

        <h4>Wozu kannst du StuffApp nutzen?</h4>
        <ol class="lead">
            <li><b>Überblick erhalten:</b> Erstelle ein digitales Abbild von deinem Keller, deiner Garage oder deinem Dachgeschoss. </li>
            <li><b>Finden:</b> Mit der Suche kannst du alle Dinge schnell finden.</li>
            <li><b>Ausmisten:</b> Entscheide dich anhand von Listen, was du behalten möchtest und was weg kann.</li>
        </ol>
    </div>

</div>