<div class="row">
    <div class="col-lg-12">
        <h1><span class="text-info">Klar Schiff</span></h1>            
        <hr/>
        <h2>Erste Schritte</h2>
        <p>
            In <b class="text-info">Klar Schiff</b> sind alle Dinge nach Räumen und Ablagen organisiert. 
        </p>
        <p>
            Erstelle zunächst eine neuen Raum und füge diesem eine Ablage hinzu. 
        </p>
        <p>
            Zu den Räumen und Ablagen kannst du Bilder hinzufügen. 
        </p>
        <p>
            Im zweiten Schritt fügst du zu den Ablagen Dinge hinzu, die darin aufbewahrt sind. 
        </p>
    </div>        
</div>    