<div class="row">
    <div class="col-lg-12">
        <h1><span class="text-info">Klar Schiff</span></h1>

        <hr/>
    </div>        
    
    <div class="col-lg-6">
        <%= image_tag('photo-1560697043-f880bb028f1e.jpg', :class => "img-fluid") %>
    </div>        
    
    <div class="col-lg-6">

        <h2>Warum <span class="text-info">Klar Schiff</span>?</h2>

        <p class="lead">
            Viele Dinge sind im Haus, im Büro, in der Werkstatt etc. an unterschiedlichen Stellen verstaut und somit weit verstreut. 
        </p>
        <p class="lead">
            Selten genutzte Dinge sind manchmal schwer zu finden. Dann kommt es vor, dass man es doppelt kauft. 
        </p>
        <p class="lead">            
            Bei etlichen Dingen vergisst man ganz, dass man sie hat. Ob man sie überhaupt noch braucht?
        </p>
        <p class="lead">            
            Beim Ausmisten stellt sich dann die Frage: Wo anfangen? Was soll ich behalten, was kann weg? Und was weg kann: Verkaufen, verschenken oder entsorgen?
        </p>
    </div>

    <div class="col-lg-12">
    
        <h2>Was sind die Vorteile von <span class="text-info">Klar Schiff</span>?</h2>

        <p class="lead">
            Mit <b class="text-info">Klar Schiff</b> kannst du ein digitales Abbild von Dingen erstellen, die an allen möglichen Stellen aufbewahrt sind. 
        </p>

        <p class="lead">
            Durch <b class="text-info">Klar Schiff</b> kannst du 
            <ol class="lead">
                <li class="lead"><b>Zeit sparen:</b> Behalte den Überblick über deine Dinge und finde sie schneller, wenn du sie brauchst.</li>
                <li class="lead"><b>Geld sparen:</b> Vermeide doppelte und dreifache Anschaffungen einfach dadurch, dass du weißt welche Dinge du schon hast und wo sie sind. </li>
                <li class="lead"><b>Geld verdienen:</b> Werde dir klar welche Dinge du nicht mehr brauchst und verkaufen kannst. </li>
            </ol>
        </p>
    </div>
</div>        
        
<div class="row mt-5">
    <div class="col-lg-6">        
        <h2>Wie funktioniert <span class="text-info">Klar Schiff</span>?</h2>

        <ol class="lead">
            <li>
                Erstelle <b>Räume</b> mit <b>Ablagen</b>, in denen alle möglichen <b>Dinge</b> aufbewahrst.
            </li>
            <li>
                Füge <b>Bilder</b> zu deinen Räumen, Ablagen und Dingen hinzu, damit du siehst, worum es sich handelt und was in deinen Räumen und Ablagen enthalten ist.
            </li>
            <li>
                Nutze die <b>Suche</b>, um Dinge in Räumen und Ablagen schneller zu finden. 
            </li>
            <li>
                Erstelle <b>Listen</b> von Dingen, mit denen du etwas machen willst (umräumen, verkaufen, verschenken, entsorgen, etc.)
            </li>
        </ol>       

    </div>
    <div class="col-lg-6">  

        <%= image_tag('keller_regal.jpg', :class => "img-fluid") %>
    
    </div>
</div> 

<%= render partial: "early_access_request" %>