<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @early_access_request.email %>
</p>

<%= link_to 'Edit', edit_early_access_request_path(@early_access_request) %> |
<%= link_to 'Back', early_access_requests_path %>
