
<div class="container-fluid bg-light border-top pt-3">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="text-center">
                <%= link_to "Home", pages_landing2_path %> | 
                <%= link_to "Über", pages_about_path %> |
                <%= link_to "Zur App", pages_home_path %>
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="lead text-center text-info">Klar Schiff</p>
        </div>    
    </div>

    <div class="row">
        <div class="col-lg-12 mb-5">
            <p class="text-center"> © Copyright 2020. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</div>
